@forward "./variables";
@use "./variables";


.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 95px 0 0 0;
    background-color: variables.$secondary-color;
}

.main {
    width: 70%;
}

.content {
    min-height: 75vh;
    background-color: variables.$light-color;
    border-radius: variables.$border-radius;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
}
