// -------- Colors -----------
$primary-color: #fff159; 
$secondary-color: #ebebeb;
$light-color: #ffffff;
$dark-color: #000000cc;
$light-dark-color: #00000073;
$accent-color: #4e83fa;

// -------- Measures -----------
$margin-x: 15%;
$border-radius: 4px;